<!-- dish.component.html -->

<body>
  <div class="title">
    <h1>Delicious Food</h1>
  </div>
  <div class="dishes">
    <button class="add-recipe-btn" (click)="goToAddRecipe()">Add Recipe</button>
    <div *ngFor="let dish of dishes$ | async" class="dish-card">
      <img [src]="dish.imageLink" alt="{{ dish.name }}">
      <h2>{{ dish?.name }}</h2>
      <h3>Ingredients</h3>
      <ul>
        <li *ngFor="let ingredient of dish?.ingredients">
          <p>{{ ingredient.name }} - {{ ingredient.quantity }}</p>
        </li>
      </ul>
      <h3>Recipe</h3>
      <p>{{ dish?.recipe }}</p>
    </div>
  </div>
</body>
